<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RegisterControllers" type="MVCEngine.AppConfig.ControllerSection, mfc-for-net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <RegisterControllers>
    <Controllers>
      <Controller name="Worksheet" class="CtgWorksheet.Controllers.WorksheetController"/>
      <Controller name="Screening" class="CtgWorksheet.Controllers.ScreeningController"/>
    </Controllers>
  </RegisterControllers>
</configuration>
