<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Controllers" value="Worksheet|Screening"/>
    <add key="WorksheetNameSpace" value="CtgWorksheet.Controllers"/>
    <add key="WorksheetClass" value="WorksheetController"/>
    <add key="ScreeningNameSpace" value="CtgWorksheet.Controllers"/>
    <add key="ScreeningClass" value="ScreeningController"/>
  </appSettings>
</configuration>
