<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RegisterControllers" type="MVCEngine.AppConfig.ControllerSection, mfc-for-net" />
    <section name="RegisterViews" type="MVCEngine.AppConfig.ViewSection, mfc-for-net" />
  </configSections>
  <RegisterControllers>
    <Controllers>
      <Controller name="Worksheet" class="CtgWorksheet.Controllers.WorksheetController"/>
      <Controller name="Screening" class="CtgWorksheet.Controllers.ScreeningController"/>
    </Controllers>
  </RegisterControllers>
  <RegisterViews>
    <Views>
      <View name="Worksheet" class="MvcForNet.CtgWorksheet.GUI.WorksheetForm"/>
      <View name="Screening" class="MvcForNet.CtgWorksheet.GUI.ScreeningControl"/>
    </Views>
  </RegisterViews>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
