<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="RegisterControllers" type="MVCEngine.AppConfig.ControllerSection, MVCEngineLibrary" />
    <section name="RegisterViews" type="MVCEngine.AppConfig.ViewSection, MVCEngineLibrary" />
  </configSections>
  <RegisterControllers>
    <Controllers>
      <Controller name="Worksheet" class="CtgWorksheet.Controllers.WorksheetController, mfc-for-net"/>
      <Controller name="Screening" class="CtgWorksheet.Controllers.ScreeningController, mfc-for-net"/>
    </Controllers>
  </RegisterControllers>
  <RegisterViews>
    <Views>
      <View name="Worksheet" class="MvcForNet.CtgWorksheet.GUI.WorksheetForm, mfc-for-net"/>
      <View name="Screening" class="MvcForNet.CtgWorksheet.GUI.ScreeningCtrl, mfc-for-net"/>
      <View name="StatusCtrl" class="MvcForNet.CtgWorksheet.GUI.StatusCtrl, mfc-for-net"/>
      <View name="WorksheetCtrl" class="MvcForNet.CtgWorksheet.GUI.WorksheetCtrl, mfc-for-net"/>
    </Views>
  </RegisterViews>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
